[submodule "src/pugixml"]
	path = src/pugixml
	url = https://github.com/joselusl/pugixml.git
[submodule "raptor-dbw-ros"]
	path = raptor-dbw-ros
	url = https://github.com/NewEagleRaptor/raptor-dbw-ros.git
