[submodule "src/pugixml"]
	path = src/pugixml
	url = https://github.com/joselusl/pugixml.git
[submodule "src/ros_canopen"]
	path = src/ros_canopen
	url = https://github.com/ros-industrial/ros_canopen.git
[submodule "src/raptor-dbw-ros"]
	path = src/raptor-dbw-ros
	url = https://github.com/NewEagleRaptor/raptor-dbw-ros2.git
	branch = foxy
